<div class="logo-2"><%= image_tag("https://4.bp.blogspot.com/-Uu64Y7FpmFc/WEPV3z5zDAI/AAAAAAAAAr4/0E6lcTkPW6kxye0VWsTVkPSpq4T42jfDACLcB/s1600/Uoblogo.png", size: "100x100") %></div> 
<h1>Editing Registration</h1>

<%= render 'form' %>

